<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="testMobile" value="no"/>
		<add key="useMobile" value="yes"/>
		<add key="ResourceDirectory" value="c:/inetpub/novausawood/webui"/>
		<add key="https-mode" value="no"/>
		<add key="shippingSystemDown" value="no"/>
		<add key="CrumbSeperator" value="»"/>
		<add key="PaypalExpressWebsite" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;token="/>
		<add key="ShippingPostSite" value="http://story.mercurygate.net/MercuryGate/inquiry/remoteXMLRating.jsp"/>
		<add key="ShippingUsername" value="10200543"/>
		<!-- 10200488 -->
		<add key="ShippingPassword" value="97209"/>
		<!-- 98273 -->
		<add key="ShippingPickupDelay" value="5"/>
		<add key="ShippingDropDelay" value="15"/>
		<add key="SMTPServer" value="smtp.novausawood.com"/>
		<add key="SMTPPort" value="25"/>
		<add key="EmailFromAddress" value="customer.service@novausawood.com"/>
		<add key="EmailFromUserName" value="customer.service@novausawood.com"/>
		<add key="EmailFromPassword" value=""/>
		<add key="ForgotPasswordSubject" value="Password Update"/>
		<add key="ForgotPasswordMessage" value="Please take note of the changes that have been made to your login information for  www.novausawood.com.    The next time you log in please use: Username: (your email address) Password: %NEWPASSWORD%    Best Regards, Nova USA Wood Products LLC 503.419.6407 "/>
		<add key="NewAccountSubject" value="Nova - User Registration"/>
		<add key="NewAccountMessage" value="Thanks for registering with us. Feel free to give us a call at 503.419.6407 should you need further assistance."/>
	</appSettings>
	<connectionStrings>
		<add name="NovaDatabase" connectionString="Data Source=localhost;Initial Catalog=nova;Integrated Security=True"/>
		<!--<add name="NovaDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=novasql;Initial Catalog=nova;User Id=web_user;Password=$web_!user;"/> -->
	</connectionStrings>
	<system.web>
		<!-- DEBUG:  Prior to publishing to production, change debug = "false"-->
		<compilation debug="true" batch="false" targetFramework="4.0"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.htm"/>
		<sessionState mode="InProc" cookieless="false" cookieName="ASP.NET_SessionId" timeout="30"/>
		<authentication mode="Forms"/>
		<pages enableSessionState="true" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<!-- NAMESPACE REFERENCES: -->
			<namespaces>
				<add namespace="System.IO"/>
				<add namespace="System.Text"/>
				<add namespace="BusinessTier"/>
				<add namespace="BusinessTier.DataAccessLayer"/>
			</namespaces>
			<!-- CONTROLS:  Register Controls in the Web.Config file instead of in each page.  The following line is an example of the code that was replaced-->
			<!--%@ Register="" Src="~/Controls/ProductMenu.ascx" TagPrefix="uc1" TagName="ProductMenu" %-->
			<controls>
				<add src="~/Controls/FilterManager.ascx" tagName="FilterManager" tagPrefix="ui"/>
				<add src="~/Controls/FooterBar.ascx" tagName="FooterBar" tagPrefix="ui"/>
				<add src="~/Controls/Header.ascx" tagName="Header" tagPrefix="ui"/>
				<add src="~/Controls/LocationsPlugin.ascx" tagName="LocationsPlugin" tagPrefix="ui"/>
				<add src="~/Controls/NavigationBar.ascx" tagName="NavigationBar" tagPrefix="ui"/>
				<add src="~/Controls/ProductsFilterCrumbs.ascx" tagName="ProductsFilterCrumbs" tagPrefix="ui"/>
				<add src="~/Controls/ProductListController.ascx" tagName="ProductListController" tagPrefix="ui"/>
				<add src="~/Controls/ProductFilterCrumbs.ascx" tagName="ProductFilterCrumbs" tagPrefix="ui"/>
				<add src="~/Controls/ProductListPage.ascx" tagName="ProductListPage" tagPrefix="ui"/>
				<add src="~/Controls/ProductMenu.ascx" tagName="ProductMenu" tagPrefix="ui"/>
				<add src="~/Controls/ShoppingCart.ascx" tagName="ShoppingCart" tagPrefix="ui"/>
				<add src="~/Controls/ShoppingCartPlugin.ascx" tagName="ShoppingCartPlugin" tagPrefix="ui"/>
				<add src="~/Controls/SubNavigationBar.ascx" tagName="SubNavigationBar" tagPrefix="ui"/>
				<add src="~/Controls/DeckingNavigation.ascx" tagName="DeckingNavigation" tagPrefix="ui"/>
				<add src="~/Controls/FlooringNavigation.ascx" tagName="FlooringNavigation" tagPrefix="ui"/>
				<add src="~/Controls/email-signup.ascx" tagName="emailsignup" tagPrefix="ui"/>
			</controls>
		</pages>
		<identity impersonate="false"/>
	</system.web>
</configuration>